.list-item-date {
    color: #9ba1a6;
    font-family: "Average Sans";
    font-size: 20px;
    margin-bottom: 60px;
  }

.list-item-read-time {
    margin-top: 10px;
}

span.list-item-read-time {
    margin-left: 10px;
}

.it {
    font-family: 'Jaldi', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.depends {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
}

.taxonomy-list {
    margin-right: 10px;
}

.github_link {
    text-decoration: none;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    font-size: .75em;
    background: #494e52;
    border: 1px solid #494e52;
    color: white !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
}

/* ISSO styling */

.article-comments {
    margin-top: 50px;
    margin-bottom: 20px;
}

.auth-section {
    margin-top: 10px;
}


.input-wrapper input[name="email"] {
    display: none;
}

.input-wrapper input[name="website"] {
    display: none;
}

.isso-postbox .form-wrapper .auth-section .post-action input {
    border: 1px solid #3B6E80 !important;
    background-color: #3B6E80 !important;
    color: white;
    box-shadow: none !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.isso-postbox .form-wrapper .auth-section .input-wrapper input {
    border: 1px solid #3B6E80 !important;
    box-shadow: none !important;
}

#isso-thread .textarea:focus, #isso-thread input:focus {
    border-color: #3B6E80 !important;
}

.isso-postbox .form-wrapper .textarea {
    margin: 0 0 .3em;
    padding: .4em .8em;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #3B6E80 !important;
    box-shadow: none !important;
}

.isso-comment-footer a {
    color: #3B6E80 !important;
}

.isso-comment div.avatar svg, .isso-postbox .avatar svg {
    box-shadow: none !important;
}

.isso-comment-footer a:hover {
    color: grey !important;
    text-shadow: none !important;
}
